$min-width: 320px;
$screen-phone: $min-width;
$min-sm-width: 575px;
$min-md-width: 767px;
$screen-tablet: $min-md-width;
$min-lg-width: 991px;
$screen-desktop: $min-lg-width;
$min-xl-width: 1199px;

$color-mist: #90AFC5;
$color-stone: #336B87;
$color-shadow: #2A3132;
$color-autumn-foliage: #763626;
$color-white: #FFFFFF;

$color-deep-ocean: #3c4955;
$color-green: #4bd0b8;
$color-meteorite: #4a3f60;


$color-black: #000000;
$color-word: #000000;
$color-background-gray: #e7e7e7;
$color-gray: #ddddda;
$color-yellow: #ded6aa;

