$min-width: 320px;
$screen-phone: $min-width;
$min-sm-width: 575px;
$min-md-width: 767px;
$screen-tablet: $min-md-width;
$min-lg-width: 991px;
$screen-desktop: $min-lg-width;
$min-xl-width: 1199px;

$color-mist: #90AFC5;
$color-stone: #336B87;
$color-shadow: #2A3132;
$color-autumn-foliage: #763626;
$color-white: #FFFFFF;
