<app-menu></app-menu>

<div class="logo-name" [ngClass]="isOpenImage ? '' : 'move-left'">
  <div class="name"
       (click)="isOpenImage = !isOpenImage">
    Hương <span></span>
    <br>Hoàng TT
  </div>
  <div class="detail">Front end developer <span>//</span></div>
</div>

<!--<div class="social-link">
  <ul>
    <li>
      <a href="">Tw</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/hoang-huong/">Li</a>
    </li>
    <li>
      <a href="">In</a>
    </li>
    <li>
      <a href="https://www.facebook.com/hoang.huong.16144">Fa</a>
    </li>
  </ul>
</div>-->

<div class="main-content">
  <div class="photo" [ngClass]="isOpenImage ? '' : 'close-photo'"></div>
  <div class="main-page custom-scroll" [ngClass]="isOpenImage ? '' : 'open-content'">
    <app-clock [ngClass]="isOpenImage ? '' : 'hide-clock'"></app-clock>

    <div class="portfolio" [ngClass]="isOpenImage ? '' : 'show-portfolio animated animatedFadeInUp fadeInUp'">
      <section class="introduction">
        <p class="sub-title">Bio</p>
        <h3>I code beautifully simple things, and I love what I do.</h3>

        <div>
          I am a front end developer with 3 years of experience.
          I’m a nice fun and friendly person, honest and punctual,
          I work well in a team but also on my own as I like to set myself goals which I will achieve, I have good
          listening and communication skills. I have a creative mind and am always up for new challenges.
          I prefer to do smart work instead of hard work.
          I am well organized and always plan ahead to make sure I manage my time well.
        </div>
      </section>

      <section class="skill">
        <p class="sub-title">Skill</p>
        <h3>Front-end technologies:</h3>
        <ul class="list-unstyled">
          <li>
            <img src="../../../assets/images/html.jpg" alt="Html">
          </li>

          <li>
            <img src="../../../assets/images/css.png" alt="Css">
          </li>

          <li>
            <img src="../../../assets/images/sass.png" alt="Sass">
          </li>

          <li>
            <img src="../../../assets/images/bootstrap.svg" alt="Bootstrap">
          </li>

          <li>
            <img src="../../../assets/images/js.png" alt="Javascript">
          </li>

          <li>
            <img src="../../../assets/images/jquery.jpg" alt="Jquery">
          </li>

          <li>
            <img src="../../../assets/images/angular.svg" alt="Angular">
          </li>

          <li>
            <img src="../../../assets/images/wordpress.jpg" alt="Wordpress">
          </li>

          <li>
            <img src="../../../assets/images/drupal.jpg" alt="Drupal">
          </li>

          <li>
            <img src="../../../assets/images/html-email.jpg" alt="HTML email">
          </li>

          <li>
            <img src="../../../assets/images/newsletter.png" alt="Newsletter">
          </li>

          <li>
            <img src="../../../assets/images/bitbucket.jpg" alt="Bitbucket">
          </li>

          <li>
            <img src="../../../assets/images/git.png" alt="Git">
          </li>

          <li>
            <img src="../../../assets/images/adobe-photoshop.png" alt="Adobe Photoshop">
          </li>
        </ul>
      </section>

      <section>
        <p class="sub-title">Projects</p>

        <ul class="list-unstyled projects row">
          <li class="col-md-4 col-sm-6 col-1">
            <div class="handiplanet"><p>Handiplanet</p></div>
          </li>
          <li class="col-md-4 col-sm-6 col-1">
            <div class="bereglo"><p>Bereglo</p></div>
          </li>
          <li class="col-md-4 col-sm-6 col-1">
            <div class="vieclamxinghiep"><p>ViecLamXiNghiep</p></div>
          </li>
          <li class="col-md-4 col-sm-6 col-1">
            <div class="b4u"><p>B4U</p></div>
          </li>
          <li class="col-md-4 col-sm-6 col-1">
            <div class="ga3a"><p>GA3A</p></div>
          </li>
          <li class="col-md-4 col-sm-6 col-1">
            <div class="quangduc"><p>QuangDuc</p></div>
          </li>
        </ul>
      </section>
    </div>

    <div class="title-rotate">
      <div class="wrap">
        <div class="info">
          Hương<br> <span></span>2019
        </div>

        <!--<div>About</div>-->

        <div class="slash">//</div>
      </div>

    </div>
  </div>
</div>
