<app-menu></app-menu>

<div class="logo-name" [ngClass]="isOpenImage ? '' : 'move-left'">
  <div class="name"
       (click)="isOpenImage = !isOpenImage">
    Hương <span></span>
    <br>Hoàng TT
  </div>
  <div class="detail">Front end developer <span>//</span></div>
</div>

<div class="social-link">
  <ul>
    <li>
      <a href="">Tw</a>
    </li>
    <li>
      <a href="">Li</a>
    </li>
    <li>
      <a href="">In</a>
    </li>
    <li>
      <a href="">Fa</a>
    </li>
  </ul>

</div>

<div class="main-content">
  <div class="photo" [ngClass]="isOpenImage ? '' : 'close-photo'"></div>
  <div class="main-page">
    <app-clock></app-clock>
  </div>
</div>
