<app-menu></app-menu>

<!--<div class="social-link">
  <ul>
    <li>
      <a href="">Tw</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/hoang-huong/">Li</a>
    </li>
    <li>
      <a href="">In</a>
    </li>
    <li>
      <a href="https://www.facebook.com/hoang.huong.16144">Fa</a>
    </li>
  </ul>
</div>-->

<div class="logo-name" [ngClass]="isOpenImage ? '' : 'move'">
  <div>
    <div class="name"
         title="Click me"
         (click)="isOpenImage = !isOpenImage">
      Hương <span></span>
      <br>Hoàng TT <i title="Click me" class="fa fa-hand-pointer-o" aria-hidden="true"></i>
    </div>
    <div class="detail">Front end developer <span>//</span></div>
  </div>
</div>

<div class="main-content">
  <div class="photo" [ngClass]="isOpenImage ? '' : 'close-photo'">
  </div>
  <div class="main-page custom-scroll" [ngClass]="isOpenImage ? '' : 'open-content'">
    <app-clock [ngClass]="isOpenImage ? '' : 'hide-clock'"></app-clock>

    <div class="portfolio" [ngClass]="isOpenImage ? '' : 'show-portfolio animated animatedFadeInUp fadeInUp'">
      <section class="introduction" id="introduction">
        <p class="sub-title">Bio</p>
        <h3>I code beautifully simple things, and I love what I do.</h3>

        <div>
          I am a front end developer with 3 years of experience.
          I’m a nice fun and friendly person, honest and punctual,
          I work well in a team but also on my own as I like to set myself goals which I will achieve, I have good
          listening and communication skills. I have a creative mind and am always up for new challenges.
          I prefer to do smart work instead of hard work.
          I am well organized and always plan ahead to make sure I manage my time well.
        </div>
      </section>

      <section class="skill" id="skill">
        <p class="sub-title">Skill</p>
        <h3>Front-end technologies:</h3>
        <div class="list-skill d-flex flex-wrap justify-content-center">
          <div class="item">
            <img src="../../../assets/images/psd-html.png" alt="">
            <p>PSD to HTML</p>
          </div>

          <div class="item">
            <img src="../../../assets/images/html.png" alt="">
            <p>HTML5</p>
          </div>

          <div class="item">
            <img src="../../../assets/images/css.png" alt="">
            <p>CSS3</p>
          </div>

          <div class="item">
            <img src="../../../assets/images/js.png" alt="">
            <p>Javascript</p>
          </div>

          <div class="item">
            <img src="../../../assets/images/jquery.png" alt="">
            <p>Jquery</p>
          </div>

          <div class="item">
            <img src="../../../assets/images/mobile-website.png" alt="">
            <p>Responsive web</p>
          </div>

          <div class="item">
            <img src="../../../assets/images/drupal.png" alt="">
            <p>Drupal</p>
          </div>

          <div class="item">
            <img src="../../../assets/images/wordpress.png" alt="">
            <p>Wordpress</p>
          </div>

          <div class="item">
            <img src="../../../assets/images/sass.png" alt="">
            <p>Sass</p>
          </div>

          <div class="item">
            <img src="../../../assets/images/google-api.png" alt="">
            <p>Google api</p>
          </div>

          <div class="item">
            <img src="../../../assets/images/html-email.png" alt="">
            <p>Html Email</p>
          </div>

          <div class="item">
            <img src="../../../assets/images/bitbucket.png" alt="">
            <p>Bitbucket</p>
          </div>

          <div class="item">
            <img src="../../../assets/images/git.png" alt="">
            <p>Git</p>
          </div>
        </div>
      </section>

      <section id="project">
        <p class="sub-title">Projects</p>

        <ul class="list-unstyled projects row">
          <li class="col-md-6 col-lg-4 col-sm-4">
            <div class="handiplanet"><p>Handiplanet</p></div>
          </li>
          <li class="col-md-6 col-lg-4 col-sm-4">
            <div class="bereglo"><p>Bereglo</p></div>
          </li>
          <li class="col-md-6 col-lg-4 col-sm-4">
            <div class="vieclamxinghiep"><p>ViecLamXiNghiep</p></div>
          </li>
          <li class="col-md-6 col-lg-4 col-sm-4">
            <div class="b4u"><p>B4U</p></div>
          </li>
          <li class="col-md-6 col-lg-4 col-sm-4">
            <div class="ga3a"><p>GA3A</p></div>
          </li>
          <li class="col-md-6 col-lg-4 col-sm-4">
            <div class="quangduc"><p>QuangDuc</p></div>
          </li>
        </ul>
      </section>

      <section>
        <p class="sub-title">Contact</p>
        <h3>Meet me:</h3>
        <ul class="contact list-unstyled">
          <li>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <div class="contact-title">Email</div>
            <a href="mailto:hoangtthuong94@gmail.com" target="_top"
               class="contact-content">hoangtthuong94@gmail.com</a>
          </li>

          <li>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <div class="contact-title">Mobile</div>
            <a href="tel:84397873728" class="contact-content">(+84) 39 78 73 728</a>
          </li>

          <li>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <div class="contact-title">Facebook</div>
            <a href="https://www.facebook.com/hoang.huong.16144"
               target="_blank"
               class="contact-content">Hoàng Hương</a>
          </li>
        </ul>
      </section>
    </div>

    <div class="title-rotate">
      <div class="wrap">
        <div class="info">
          Hương<br> <span></span>2019
        </div>

        <!--<div>About</div>-->

        <div class="slash">//</div>
      </div>

    </div>
  </div>
</div>
