@import "../../../styles/mixin";
@import "../../../styles/variables";


:host {
  display: block;
  padding: 0 70px;
  position: relative;
  height: 100vh;
}

.logo-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25vh;
  z-index: 10;
  @include transition(left 1s ease-in-out);

  &.move-left {
    left: 250px;
  }

  .name {
    font-size: 45px;
    font-weight: 700;
    line-height: 0.9;

    span {
      content: '';
      display: inline-block;
      width: 50px;
      height: 4px;
      background: $color-yellow;
      margin-bottom: 10px;
    }
  }

  .detail {
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;

    span {
      color: $color-yellow;
    }
  }
}

.social-link {
  position: absolute;
  width: 70px;
  right: 0;
  bottom: 15px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 15px;
  }


  a {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-weight: bold;
    color: $color-word;
    text-decoration: underline;
    transform: rotate(-90deg);

    &:hover {
      color: $color-yellow;
    }
  }
}

.main-content {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  .photo {
    height: 100vh;
    background: $color-background-gray;
    width: 50%;
    @include transition(width 1s ease-in-out);

    &.close-photo {
      width: 350px;
    }
  }

  .main-page {
    flex: 1;
    position: relative;

    app-clock {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 320px;
    }
  }
}
