@import "../../../styles/mixin";
@import "../../../styles/variables";


:host {
  display: block;
  position: relative;
  height: 100vh;
}

.logo-name {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 25vh;
  z-index: 10;
  @include transition(left 1s ease-in-out);

  &.move-left {
    left: 250px;
  }

  i {
    cursor: pointer;
    font-size: 30px;
  }

  .name {
    font-size: 45px;
    font-weight: 700;
    line-height: 0.9;

    span {
      content: '';
      display: inline-block;
      width: 50px;
      height: 4px;
      background: $color-yellow;
      margin-bottom: 10px;
    }
  }

  .detail {
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;

    span {
      color: $color-yellow;
    }
  }
}

.social-link {
  position: absolute;
  width: 70px;
  right: 0;
  bottom: 15px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 15px;
  }


  a {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-weight: bold;
    color: $color-word;
    text-decoration: underline;
    transform: rotate(-90deg);

    &:hover {
      color: $color-yellow;
    }
  }
}

.main-content {
  width: 100%;
  position: relative;
  //display: flex;
  //flex-wrap: wrap;

  .photo {
    height: 100vh;
    width: 50%;
    background: url("../../../assets/images/avatar.jpg") center;
    background-size: cover;
    @include transition(all 1s ease-in-out);
    position: absolute;
    top: 0;
    left: 0;

    &.close-photo {
      width: 600px;
      height: 60vh;
      top: 40vh;
    }
  }
}

.main-page {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  padding: 30vh 120px 0px 50px;
  height: 100vh;
  overflow: auto;
  @include transition(width 1s ease-in-out);

  &.open-content {
    width: calc(100vw - 600px);
  }

  app-clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 320px;
    @include transition(left 1s ease-in-out);

    &.hide-clock {
      left: -100%;
    }
  }

  .sub-title {
    font-weight: bold;
    font-size: 12px;
  }

  section {
    margin-bottom: 50px;

    h3 {
      margin-bottom: 30px;
      font-weight: normal;
      color: $color-yellow-dark;
    }

    &.introduction{
      > div {
        margin: 15px 0 15px 150px;
      }
    }
  }
}

.list-skill {
  .item {
    background-color: $color-yellow-dark;
    margin: 5px;
    padding: 10px 15px;
    min-width: 150px;
    text-align: center;
    color: $color-white;
  }

  img {
    height: 60px;
    width: auto;
    margin-bottom: 10px;
  }

  p {
    margin: 0;
  }
}

.projects {
  li > div {
    min-height: 250px;
    border-radius: 10px;
    background-position: top center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    cursor: pointer;

    p {
      position: absolute;
      margin: 0;
      width: 100%;
      left: 0;
      bottom: 0;
      padding: 10px;
      background: $color-background-gray;
      color: $color-word;
      text-align: center;
      opacity: 0;
      transition: all 0.5s;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      opacity: 0;
      transition: all 0.5s;
    }

    &:hover {
      &:before {
        opacity: 1;
      }

      p {
        opacity: 1;
      }
    }
  }

  .handiplanet {
    background-image: url("../../../assets/images/projects/handiplanet.png");
  }

  .bereglo {
    background-image: url("../../../assets/images/projects/bereglo.png");
  }

  .vieclamxinghiep {
    background-image: url("../../../assets/images/projects/coviecchua.jpg");
  }

  .b4u {
    background-image: url("../../../assets/images/projects/b4u.PNG");
  }

  .ga3a {
    background-image: url("../../../assets/images/projects/ga3a.jpg");
  }

  .quangduc {
    background-image: url("../../../assets/images/projects/quangduc.png");
  }
}

.portfolio {
  z-index: -1;
  opacity: 0;
  display: none;


  &.show-portfolio {
    z-index: 1;
    display: block;
  }
}

.custom-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 100px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 100px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.animated {
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}


.title-rotate {
  position: fixed;
  right: 10px;
  bottom: 10vh;
  color: $color-background-gray;
  font-size: 45px;
  text-align: right;
  font-weight: bold;
  line-height: 1;
  z-index: -1;

  .wrap {
    position: relative;
    padding-right: 35px;
    padding-top: 35px;
    transform: rotate(-90deg);
  }

  .info {
    text-align: left;

    span {
      display: inline-block;
      width: 55px;
      height: 3px;
      background: $color-yellow;
      margin: 0 10px 12px 0;
    }
  }

  .slash {
    position: absolute;
    right: 0;
    bottom: 0;
    color: $color-yellow;
  }
}
