<div class="menu-wrap">
  <!--<div class="menu" [ngClass]="isOpenMenu ? 'menu&#45;&#45;open' : 'menu&#45;&#45;closed'">

    <div class="button" (click)="isOpenMenu = !isOpenMenu">
      <span> </span>
      <span> </span>
      <span> </span>
    </div>

    <div class="tools" [ngClass]="isOpenMenu ? 'tools&#45;&#45;visible' : 'tools&#45;&#45;hidden'">
      <a title="introduce" appScrollToElement="#introduce">
        <i class="icon fa fa-info-circle" aria-hidden="true"></i>
      </a>

      <a appScrollToElement="#skill">
        <i class="icon fas fa-star"></i>
      </a>

      <a appScrollToElement="#project">
        <i class="icon fas fa-project-diagram"></i>
      </a>

      <a appScrollToElement="#contact">
        <i class="icon fas fa-user"></i>
      </a>

    </div>

  </div>-->

  <a class="logo-name">
    <div class="name">
      Test Test <span></span>
      <br>Test Test
    </div>
  </a>

  <div class="fingerprint"><i class="fas fa-fingerprint"></i></div>
</div>
